In [ ]:
import pandas as pd
from IPython.display import display

# DATA LOAD + QUICK EDA
TRAIN_PATH = "train.parquet"

train = pd.read_parquet(TRAIN_PATH)

print(f"Train shape: {train.shape}")
display(train.head(5))

# ---- Schema (colonnes, types, missing) ----
schema = pd.DataFrame({
    "column": train.columns,
    "dtype": train.dtypes.astype(str).values,
    "missing_pct": (train.isna().mean() * 100).round(2).values,
    "n_unique": train.nunique(dropna=True).values
}).sort_values("missing_pct", ascending=False)

display(schema)

# ---- Top pages ----
if "page" in train.columns:
    display(train["page"].value_counts(dropna=False).head(20).rename_axis("page").reset_index(name="count"))

Train shape: (17499636, 19)

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
0,200,M,Shlok,paid,Johnson,1749042,1538352001000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",278,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,524.32934,Ich mache einen Spiegel - Dream Part 4,Popol Vuh,2018-10-01 00:00:01,2018-08-08 13:22:21
992,200,M,Shlok,paid,Johnson,1749042,1538352525000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",279,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,178.02404,Monster (Album Version),Skillet,2018-10-01 00:08:45,2018-08-08 13:22:21
1360,200,M,Shlok,paid,Johnson,1749042,1538352703000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",280,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,232.61995,Seven Nation Army,The White Stripes,2018-10-01 00:11:43,2018-08-08 13:22:21
1825,200,M,Shlok,paid,Johnson,1749042,1538352935000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",281,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,265.50812,Under The Bridge (Album Version),Red Hot Chili Peppers,2018-10-01 00:15:35,2018-08-08 13:22:21
2366,200,M,Shlok,paid,Johnson,1749042,1538353200000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",282,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,471.69261,Circlesong 6,Bobby McFerrin,2018-10-01 00:20:00,2018-08-08 13:22:21

           column           dtype  missing_pct  n_unique
16         artist          object        18.33     37264
15           song          object        18.33    239299
14         length         float64        18.33     23379
0          status           int64         0.00         3
10       location          object         0.00       875
17           time  datetime64[us]         0.00   4189091
13         method          object         0.00         2
12      userAgent          object         0.00        85
11  itemInSession           int64         0.00      1427
9       sessionId           int64         0.00    161194
1          gender          object         0.00         2
8            page          object         0.00        19
7            auth          object         0.00         2
6              ts           int64         0.00   4189091
5          userId          object         0.00     19140
4        lastName          object         0.00      1000
3           level          object         0.00         2
2       firstName          object         0.00      4967
18   registration  datetime64[us]         0.00     19118

                         page     count
0                    NextSong  14291433
1                   Thumbs Up    789391
2                        Home    645259
3             Add to Playlist    409606
4                 Roll Advert    284837
5                  Add Friend    262147
6                      Logout    204700
7                 Thumbs Down    164964
8                   Downgrade    124248
9                    Settings    101191
10                       Help     89035
11                    Upgrade     37696
12                      About     33117
13              Save Settings     20370
14                      Error     17294
15             Submit Upgrade     11381
16           Submit Downgrade      4425
17  Cancellation Confirmation      4271
18                     Cancel      4271