In [6]:
import pandas as pd

print("bonjou")

bonjou

In [8]:
import pandas as pd

train_path = "/Users/alexandre/Desktop/X/Python for Data Science/Projet Final Churn/train.parquet"
test_path = "/Users/alexandre/Desktop/X/Python for Data Science/Projet Final Churn/test.parquet"

# Chargement des fichiers
train = pd.read_parquet(train_path)
test = pd.read_parquet(test_path)

print("Train shape:", train.shape)
print("Test shape:", test.shape)

print("\nColonnes du train :")
print(train.columns)

print("\nAperçu du train :")
print(train.head())

Train shape: (17499636, 19)
Test shape: (4393179, 19)

Colonnes du train :
Index(['status', 'gender', 'firstName', 'level', 'lastName', 'userId', 'ts',
       'auth', 'page', 'sessionId', 'location', 'itemInSession', 'userAgent',
       'method', 'length', 'song', 'artist', 'time', 'registration'],
      dtype='object')

Aperçu du train :
      status gender firstName level lastName   userId             ts  \
0        200      M     Shlok  paid  Johnson  1749042  1538352001000
992      200      M     Shlok  paid  Johnson  1749042  1538352525000
1360     200      M     Shlok  paid  Johnson  1749042  1538352703000
1825     200      M     Shlok  paid  Johnson  1749042  1538352935000
2366     200      M     Shlok  paid  Johnson  1749042  1538353200000

           auth      page  sessionId                         location  \
0     Logged In  NextSong      22683  Dallas-Fort Worth-Arlington, TX
992   Logged In  NextSong      22683  Dallas-Fort Worth-Arlington, TX
1360  Logged In  NextSong      22683  Dallas-Fort Worth-Arlington, TX
1825  Logged In  NextSong      22683  Dallas-Fort Worth-Arlington, TX
2366  Logged In  NextSong      22683  Dallas-Fort Worth-Arlington, TX

      itemInSession                                          userAgent method  \
0               278  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...    PUT
992             279  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...    PUT
1360            280  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...    PUT
1825            281  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...    PUT
2366            282  "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...    PUT

         length                                    song  \
0     524.32934  Ich mache einen Spiegel - Dream Part 4
992   178.02404                 Monster (Album Version)
1360  232.61995                       Seven Nation Army
1825  265.50812        Under The Bridge (Album Version)
2366  471.69261                            Circlesong 6

                     artist                time        registration
0                 Popol Vuh 2018-10-01 00:00:01 2018-08-08 13:22:21
992                 Skillet 2018-10-01 00:08:45 2018-08-08 13:22:21
1360      The White Stripes 2018-10-01 00:11:43 2018-08-08 13:22:21
1825  Red Hot Chili Peppers 2018-10-01 00:15:35 2018-08-08 13:22:21
2366         Bobby McFerrin 2018-10-01 00:20:00 2018-08-08 13:22:21

In [9]:
train

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
0,200,M,Shlok,paid,Johnson,1749042,1538352001000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",278,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,524.32934,Ich mache einen Spiegel - Dream Part 4,Popol Vuh,2018-10-01 00:00:01,2018-08-08 13:22:21
992,200,M,Shlok,paid,Johnson,1749042,1538352525000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",279,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,178.02404,Monster (Album Version),Skillet,2018-10-01 00:08:45,2018-08-08 13:22:21
1360,200,M,Shlok,paid,Johnson,1749042,1538352703000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",280,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,232.61995,Seven Nation Army,The White Stripes,2018-10-01 00:11:43,2018-08-08 13:22:21
1825,200,M,Shlok,paid,Johnson,1749042,1538352935000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",281,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,265.50812,Under The Bridge (Album Version),Red Hot Chili Peppers,2018-10-01 00:15:35,2018-08-08 13:22:21
2366,200,M,Shlok,paid,Johnson,1749042,1538353200000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",282,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,471.69261,Circlesong 6,Bobby McFerrin,2018-10-01 00:20:00,2018-08-08 13:22:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25661184,200,M,Noah,paid,Bentley,1152881,1542671404000,Logged In,NextSong,2537,"Greenville-Anderson-Mauldin, SC",66,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,183.97995,Runaway (Album Version),Linkin Park,2018-11-19 23:50:04,2018-11-19 20:24:09
25661214,200,M,Noah,paid,Bentley,1152881,1542671443000,Logged In,Roll Advert,2537,"Greenville-Anderson-Mauldin, SC",67,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",GET,NaN,None,None,2018-11-19 23:50:43,2018-11-19 20:24:09
25661320,200,M,Noah,paid,Bentley,1152881,1542671587000,Logged In,NextSong,2537,"Greenville-Anderson-Mauldin, SC",68,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,163.70893,Gift From Virgo,BeyoncÃÂ©,2018-11-19 23:53:07,2018-11-19 20:24:09
25661462,200,M,Noah,paid,Bentley,1152881,1542671750000,Logged In,NextSong,2537,"Greenville-Anderson-Mauldin, SC",69,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,163.00363,I'd Rather Be With You [Radio Edit],Joshua Radin,2018-11-19 23:55:50,2018-11-19 20:24:09
25661583,200,M,Noah,paid,Bentley,1152881,1542671913000,Logged In,NextSong,2537,"Greenville-Anderson-Mauldin, SC",70,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,253.02159,Tonight,Lykke Li,2018-11-19 23:58:33,2018-11-19 20:24:09

In [10]:
import pandas as pd

train = pd.read_parquet(train_path)

pd.set_option('display.max_columns', None)   # affiche toutes les colonnes
pd.set_option('display.width', 200)         # évite les retours à la ligne

train.head()

,status,gender,firstName,level,lastName,userId,ts,auth,page,sessionId,location,itemInSession,userAgent,method,length,song,artist,time,registration
0,200,M,Shlok,paid,Johnson,1749042,1538352001000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",278,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,524.32934,Ich mache einen Spiegel - Dream Part 4,Popol Vuh,2018-10-01 00:00:01,2018-08-08 13:22:21
992,200,M,Shlok,paid,Johnson,1749042,1538352525000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",279,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,178.02404,Monster (Album Version),Skillet,2018-10-01 00:08:45,2018-08-08 13:22:21
1360,200,M,Shlok,paid,Johnson,1749042,1538352703000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",280,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,232.61995,Seven Nation Army,The White Stripes,2018-10-01 00:11:43,2018-08-08 13:22:21
1825,200,M,Shlok,paid,Johnson,1749042,1538352935000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",281,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,265.50812,Under The Bridge (Album Version),Red Hot Chili Peppers,2018-10-01 00:15:35,2018-08-08 13:22:21
2366,200,M,Shlok,paid,Johnson,1749042,1538353200000,Logged In,NextSong,22683,"Dallas-Fort Worth-Arlington, TX",282,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",PUT,471.69261,Circlesong 6,Bobby McFerrin,2018-10-01 00:20:00,2018-08-08 13:22:21

In [11]:
pd.DataFrame(train.columns, columns=["Colonnes"])

         Colonnes
0          status
1          gender
2       firstName
3           level
4        lastName
5          userId
6              ts
7            auth
8            page
9       sessionId
10       location
11  itemInSession
12      userAgent
13         method
14         length
15           song
16         artist
17           time
18   registration

In [12]:
train["page"].value_counts().head(20)

page
NextSong                     14291433
Thumbs Up                      789391
Home                           645259
Add to Playlist                409606
Roll Advert                    284837
Add Friend                     262147
Logout                         204700
Thumbs Down                    164964
Downgrade                      124248
Settings                       101191
Help                            89035
Upgrade                         37696
About                           33117
Save Settings                   20370
Error                           17294
Submit Upgrade                  11381
Submit Downgrade                 4425
Cancellation Confirmation        4271
Cancel                           4271
Name: count, dtype: int64

In [14]:
import pandas as pd

train_path = "/Users/alexandre/Desktop/X/Python for Data Science/Projet Final Churn/train.parquet"
train = pd.read_parquet(train_path)

cancellation_page = "Cancellation Confirmation"

# Création de la target
user_target = (
    train.groupby("userId")["page"]
         .apply(lambda pages: int((pages == cancellation_page).any()))
         .reset_index()
         .rename(columns={"page": "target"})
)

user_target.head()

    userId  target
0  1000025       1
1  1000035       0
2  1000083       1
3  1000103       0
4  1000164       0

In [15]:
user_target["target"].value_counts()

target
0    14869
1     4271
Name: count, dtype: int64